<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login_Page</title>
<style>
div{
    outline: solid 1px black;
}
#page {
    width:25%;
    height:250px;
    background: white;
    position:absolute;
    right:500px;
  }
}
</style>
</head>

  <body>


     <div id="page">
                  <form method="post" action="login">
                  &nbsp;User Name:<br>
                  <input id="user_name" type="text" name="un" >
                  <br>
                  &nbsp;Password:<br>
                  <input id="password" type="password" name="pwd"  >
                  <br><br>
                  <input  type="submit" name="Signin" value="Sigin">
                  </form>
       </div>
  </body>
</html>
