<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Modify Node</title>
  <style>
div{
    outline: solid 1px black;
}

#code_1 {
    position:absolute;
    left:500px;
    top:300px;
    }
#code_2 {
    position:absolute;
    left:500px;
    top:250px;
    }


</style>

</head>

  <body>
    <header>
                
      </header>

      <h4 id="code_2">Modify Node</h4>

       <form id = "code_1">
  Node Name:  <input type="text" name="n_name"><br>
  Class Name:  <input type="text" name="c_name"><br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <input type="submit" value="Go">
</form> 