<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Modify Edge</title>
  <style>
div{
    outline: solid 1px black;
}

#code_1 {
    position:absolute;
    left:500px;
    top:300px;
    }
#code_2 {
    position:absolute;
    left:500px;
    top:250px;
    }


</style>

</head>

  <body>
    <header>
                
      </header>

      <h4 id="code_2">Modify Edge</h4>

       <form id = "code_1">
  Start Node:  <input type="text" name="s_name"><br>
  End   Node:&nbsp;&nbsp;<input type="text" name="e_name"><br>
  Weight  &nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<input type="text" name="w_node"><br>
  <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <input type="submit" value="Modify">
</form> 